<!-- <div class="abc-education">
    <h1>BSc in Computer & Communication
        Engineering</h1>
        <p>International University of Erbil
            Obtained a Bachelors Degree in Computer and Communication Engineering with a GPA of (2.8)</p>
</div> -->
<div class="row abc-education">
    <div class="col-sm-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">BSc in Computer & Communication
            Engineering</h2>
          <p class="card-text">International University of Erbil
            Obtained a Bachelors Degree in Computer and Communication Engineering with a GPA of (2.8)</p>
        </div>
      </div>
    </div>
  </div>