<!-- <div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
<div class="abc-about">
<h1>Aram Khasro Jarjees</h1>
<h2>E-mail : aramkhasro75@gmail.com <br>Phone : +9647503737774</h2>
<h5>Personal Information<br>
    Marital Status: Married<br>
    Date of Birth: 29th of June, 1994<br>
    Place of Birth: Erbil, Iraq<br>
    Nationality: Iraqi, Kurd<br>
    Driving License: Available</h5>
    

</div>
</div>
</div>
</div> -->
<div class="row abc-about">
    <div class="col-sm-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Aram Khasro Jarjees</h1>
          <h2 class="card-title"><h2>E-mail : aramkhasro75@gmail.com <br>Phone : +9647503737774</h2>
          <h4 class="card-text">Personal Information</h4>
          <h4 class="card-text"> Marital Status: Married</h4>
          <h4 class="card-text">Date of Birth: 29th of June, 1994</h4>
          <h4 class="card-text">Place of Birth: Erbil, Iraq</h4>
          <h4 class="card-text"> Nationality: Iraqi, Kurd</h4>
          <h4 class="card-text">Driving License: Available</h4>

        </h2>
        </div>
      </div>
    </div>
  </div>
