<!-- 
<div class="abc-skills">
<p>Website Design<br>
    Programming Languages:<br>
    1. HTML<br>
    2. CSS<br>
    3. JavaScript<br>
    4. Bootstrap<br>
    5. Jquery<br>
    6. Angular<br>
    7. Node.js<br>
    8. Express<br>
    9. MongoDB<br>
    10. full stack developer<br>
    Web Developing<br>
    Computer Maintenance<br>
    Cisco Packet Tracer<br>
    MATLAB Programming</p>
</div> -->
<div class="container abc-skills">
    <div class="row mt-4"><div class="col-md-12 col-xs-12 col-lg-12 offset-md-4">

    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Website Design  
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> Programming Languages</li>
         

        </ul>
        <p class="text-center">  1. HTML<br>
            2. CSS<br>
            3. JavaScript<br>
            4. Bootstrap<br>
            5. Jquery<br>
            6. Angular<br>
            7. Node.js<br>
            8. Express<br>
            9. MongoDB<br>
            10. full stack developer<br>
            Web Developing<br>
            Computer Maintenance<br>
            Cisco Packet Tracer<br>
            MATLAB Programming</p>
</div>
</div>
</div></div>