<div class="container abc-experince">
<div class="row abc-education ">
    <div class="col-sm-6 offset-md-1">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Dwrandaz (Web Development)          <span class="text-danger"> September,2018 — June,2019</span>  </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row abc-education">
    <div class="col-sm-6 offset-md-1">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">korek (Internship)   <span class="text-danger">August,2018 — September,2018</span></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row abc-education">
    <div class="col-sm-6 offset-md-1">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Advanced(IT)   <span class="text-danger">September,2019 — November,2019</span></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row abc-education">
    <div class="col-sm-6 offset-md-1">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Ionet(Network)   <span class="text-danger">Part time</span></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row abc-education">
    <div class="col-sm-6 offset-md-1">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Nawa organization (Translator) <span class="text-danger">Part time</span></h4>
        </div>
      </div>
    </div>
  </div>
</div>